<header id="header" class="fixed-top">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <a routerLink="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a routerLink="">Acceuil</a></li>
            <li class="drop-down"><a routerLink="#about">QUI SOMMES-NOUS</a>
              <ul>
                <li><a routerLink="/page1">Présentation De La Fédération</a></li>
                <li><a routerLink="/page2">Principales Missions De La Fédération</a></li>
                <li><a routerLink="/page3">Bureau De La Fédération</a></li>
                <li><a routerLink="/page4">Conseil D’Administration</a></li>
              </ul>
            </li>
            <li class="drop-down"><a routerLink="">Services</a>
              <ul>
                <li><a routerLink="/page5">Secteur Menier</a></li>
                <li><a routerLink="/page6">Cadre Legislatif Et Reglementire</a></li>
                <li><a routerLink="/page7">Géologie Du Maroc</a></li>
              </ul>
            </li>

            <li><a routerLink="#team">Nos membres</a></li>
            <li><a routerLink="/contact">Contactez-nous</a></li>
            <li><a routerLink="/login">Se connecter</a></li>

          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </div>

  </div>
</header><!-- End Header -->

<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/acceuil">Home</a></li>
      <li>Secteur Menier</li>
    </ol>
  </div>

  <div class="container-fluid" style="margin-top: -100px">
    <div class="section-bg">
      <div class="page-content">
        <div class="form-v6-content">
          <div class="form-left">
            <img src="../../assets/img/b2.png" style="margin-top: 230px" alt="form">
          </div>
          <form class="form-detail" >
            <h2 style="color: darkorange;right: 50px;text-decoration: underline" class="align-content-center" ><strong>Secteur Menier</strong> </h2>

            <div class="wpb_wrapper" style="color: gray">
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <p>Le Maroc est un pays de très longue tradition minière, comme en témoigne les vestiges, disséminés à travers tout le Maroc, datant pour certains de l’époque phénicienne, et qui indiquent que, l’industrie minière (exploitation et raffinage des métaux) a occupé, pendant des siècles, une place relativement importante dans l’activité économique du pays.</p>
                  <p>Cependant, ce n’est qu’au début des années 1920 que les premières mines modernes furent ouvertes, lorsque les puissances coloniales s’empressèrent d’évaluer les nombreux gisements de minerais (fer, plomb, cuivre, zinc, cobalt, manganèse, argent, antimoine, tungstène, spath fluor, phosphates etc.).</p>
                  <p>La création des principales institutions et établissements publics du secteur minier remonte à la même période&nbsp;:</p>
                  <ul>
                    <li>Service Géologique en 1920&nbsp;;</li>
                    <li>Office Chérifien des Phosphates (OCP) en 1920&nbsp;;</li>
                    <li>Bureau de Recherches et de Participations Minières (BRPM) en 1928, transformé en 2005 en ONHYM par la fusion de l’ONAREP et du BRPM&nbsp;;</li>
                    <li>Centrale d’Achat et de Développement de la Région Minière du Tafilalet et de Figuig (CATETAF) en 1960.</li>
                  </ul>
                  <p>Depuis son indépendance en 1956, le Maroc a, et de façon continue, veillé à développer son potentiel minier, à réaliser des unités avancées en matière de recherche, d’exploitation et d’enrichissement des minerais et à assurer la formation des cadres et techniciens pour son industrie minière. Les phosphates, en particulier, ont joué un rôle primordial dans ce développement.</p>
                  <p>Aujourd’hui, le secteur minier constitue l’un des grands piliers de l’économie nationale. Il contribue de manière importante à son développement socio-économique notamment dans des régions minières souvent reculées et enclavées et contribue de manière directe à la balance commerciale du pays.</p>
                  <p>Outre les phosphates pour lesquels le Maroc est leader à l’échelle mondiale (premier exportateur et troisième producteur), le Maroc exploite toute une gamme d’autres minerais avec des niveaux de production importants : plomb, zinc, cuivre, manganèse, barytine, fluorine, cobalt, argent,…</p>
                  <p>La plupart de ces minerais subissent par ailleurs des opérations d’enrichissement et de transformation avant leur exportation, c’est le cas des phosphates pour la production d’acide phosphorique et de différents engrais, du plomb, de l’argent, du manganèse et du cobalt …</p>
                  <p>L’importance du secteur peut être appréhendée à travers les indicateurs ci-après&nbsp;:</p>
                  <ul>
                    <li>Il représente 8% à 10% du PIB&nbsp;;</li>
                    <li>Les exportations minières représentent 25% à 30 %, des recettes des exportations nationales (suivant les cours des produits miniers). Elles ont atteint 34% en 2008&nbsp;;</li>
                    <li>Le transport des produits miniers constitue environ 70% du tonnage transporté par voie ferré ou exporté par voie maritime&nbsp;;</li>
                    <li>Le secteur draine des investissements importants de l’ordre de 10 à 20 Milliards de DH par an&nbsp;;</li>
                    <li>Le secteur assure l’emploi à environ 40.000 salariés bénéficiant d’une masse salariale de l’ordre de 7,8 Milliards de DH&nbsp;;</li>
                    <li>Il est Générateur d’environ 3 à 3.5 milliards de recettes fiscales&nbsp;;</li>
                    <li>Il constitue un pôle de développement socio-économique régional&nbsp;:</li>
                    <li>L’activité minière est pratiquement assez bien répartie à travers toutes les régions économiques du Royaume, avec au moins une mine dans chacune des régions.</li>
                    <li>Le secteur contribue dans toutes ces régions au développement d’infrastructures diverses (routes, eau, électricité…)</li>
                    <li>Il y est créateur d’activités induites multiples.</li>
                  </ul>

                </div>
              </div>
              <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

            </div>




          </form>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Breadcrumbs -->

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">

          <h3><img src="../../assets/img/logo.png">FDIM</h3>
          <p>La Fédération de l’Industrie Minérale a été créée initialement sous l’appellation de “Groupement des
            Industries Minières du Maroc” en 1940. Elle a connu une autre appellation en 1943 “La Chambre Syndicale des
            Industries Minières du Maroc” puis “Association des Industries Minières du Maroc” en 1957 avant de prendre
            sa forme actuelle, depuis 1998, en tant que Fédération de l’Industrie Minérale (FDIM).</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/acceuil">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page1">PRÉSENTATION DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page2">PRINCIPALES MISSIONS DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page3">BUREAU DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page4">CONSEIL D’ADMINISTRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page5">SECTEUR MENIER</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page6">CADRE LEGISLATIF ET REGLEMENTIRE
            </a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            FÉDÉRATION DE L’INDUSTRIE MINÉRALE<br>
            1 SAHAT AL ISTIQLAL CASABLANCA<br>
            Maroc<br>
            <strong>Phone:</strong> +212 (0) 22 30.68.98<br>
            <strong>Email:</strong> fdim@menara.ma<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Tous droits réservés <strong>FDIM</strong> - Réalisation BENNIS
    </div>
  </div>
</footer><!-- End Footer -->

