<header id="header" class="fixed-top">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <a routerLink="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a routerLink="">Acceuil</a></li>
            <li class="drop-down"><a routerLink="#about">QUI SOMMES-NOUS</a>
              <ul>
                <li><a routerLink="/page1">Présentation De La Fédération</a></li>
                <li><a routerLink="/page2">Principales Missions De La Fédération</a></li>
                <li><a routerLink="/page3">Bureau De La Fédération</a></li>
                <li><a routerLink="/page4">Conseil D’Administration</a></li>
              </ul>
            </li>
            <li class="drop-down"><a routerLink="">Services</a>
              <ul>
                <li><a routerLink="/page5">Secteur Menier</a></li>
                <li><a routerLink="/page6">Cadre Legislatif Et Reglementire</a></li>
                <li><a routerLink="/page7">Géologie Du Maroc</a></li>
              </ul>
            </li>

            <li><a routerLink="#team">Nos membres</a></li>
            <li><a routerLink="/contact">Contactez-nous</a></li>
            <li><a routerLink="/login">Se connecter</a></li>

          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </div>

  </div>
</header><!-- End Header -->

<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/acceuil">Home</a></li>
      <li>
        CADRE LEGISLATIF ET REGLEMENTIRE</li>
    </ol>
  </div>

  <div class="container-fluid" style="margin-top: -100px">
    <div class="section-bg">
      <div class="page-content">
        <div class="form-v6-content">
          <div class="form-left">
            <img src="../../assets/img/b2.png" style="margin-top: 230px" alt="form">
          </div>
          <form class="form-detail" >
            <h2 style="color: darkorange;right: 50px;text-decoration: underline" class="entry-title" ><strong>
              CADRE LEGISLATIF ET REGLEMENTIRE</strong> </h2>

            <div class="entry-content" style="color: gray">

              <p>L’activité minière au Maroc, à l’exception des phosphates (monopole de l’Etat), est accessible à toute personne morale quelle que soit&nbsp; sa nationalité.</p>
              <p>Dès 1914 une loi fondamentale réglementa l’activité minière et en 1923 de nouvelles dispositions légales permirent aux autorités marocaines de détenir des permis miniers pour mener des opérations d’exploration et d’exploitation minière.</p>
              <p>Les textes régissant l’activité minière ont, depuis, connu plusieurs modifications allant dans le sens&nbsp; de l’encouragement de l’initiative privée et le développement de&nbsp; l’industrie&nbsp; minière&nbsp; nationale.</p>
              <p>Le règlement minier, datant de 1951, qui a régi l’activité minière au Maroc pendant 65 ans,&nbsp; <strong>a été abrogé par la nouvelle loi sur les mines </strong><strong>«&nbsp;la loi N° 33-13 relative aux mines</strong><strong>&nbsp;», publié au BO N° 6384 du 6 août 2015.</strong></p>
              <p><strong>Cette nouvelle loi est entrée en vigueur le 23 mai 2016, date de la publication au BO de son principal décret d’application&nbsp;: le du Décret n° 2-15-807 du 20 avril 2016 portant sur la procédure d’octroi des titres miniers</strong></p>
              <p><strong>PRINCIPES GENERAUX DE LA LOI N° 33-13 RELATIVE AUX MINES</strong></p>
              <p>La loi relative aux mines&nbsp; (loi 33-13), repose sur les principes suivants :</p>
              <ul>
                <li>les substances minérales constituent une propriété domaniale&nbsp;;</li>
                <li>Sont considérés comme mines toutes les substances minérales à usage industriel à l’exception des matériaux de construction et de génie civil et des marbres et granites destinés au revêtement qui demeurent régis par le texte sur les carrières. Les gîtes géothermiques sont également considérés comme mines</li>
                <li>Les activités d’exploration, de recherche et d’exploitation de produits de mines sont effectuées en vertu d’un titre minier&nbsp;: Autorisation d’exploration, Permis de Recherche, Licence d’Exploitation&nbsp;;</li>
              </ul>
              <p>La nouvelle loi a introduit l’institution de l’autorisation d’exploitation haldes et terrils, prévue pour l’enrichissement et/ou la valorisation des masses constituées de rejets et déchets de produits de mines provenant des opérations d’extraction et/ou de traitement et/ou de valorisation de ces produits ;</p>
              <p>Elle a également introduit des dispositions pour l’exploitation des cavités naturelles ou artificielles destinées au stockage souterrain du gaz naturel, des hydrocarbures liquides, liquéfiés ou gazeux, ou de produits chimiques à usage industriel&nbsp;;</p>
              <ul>
                <li>Le permis de recherche et la licence d’exploitation&nbsp;de mines constituent des droits immobiliers, de durée limitée et distincts de la propriété du sol&nbsp;;</li>
                <li>L’exploration, la recherche et l’exploitation des produits de mines sont considérées comme des actes de commerce&nbsp;;</li>
                <li>le droit minier s’acquiert en règle générale à la priorité de la demande, sous réserve de justification de capacités techniques et financières.</li>
              </ul>
              <p><strong>PRINCIPALES MESURES DE LA LOI</strong></p>
              <p><strong>TITRES</strong><strong> MINERS</strong></p>
              <ul>
                <li><strong>Autorisation d’exploration&nbsp;:</strong></li>
              </ul>
              <p>Cette autorisation offre la possibilité aux permissionnaires de développer des programmes d’exploration sur de zones de grandes superficies allant de 100 à 600 km2&nbsp;;</p>
              <p>Elle peut porter sur des périmètres couverts ou non par un permis de recherche ou une licence d’exploitation.</p>
              <p>Elle est valable pour une période de deux ans et renouvelable une seule fois pour une période d’une année.</p>
              <p>Elle confère à son titulaire le droit exclusif d’exploration dans&nbsp; la zone concernée et&nbsp; le droit exclusif pour l’obtention d’un ou de plusieurs&nbsp; permis de recherche à l’intérieur de ladite zone et pour l’ensemble des produits de mines, à condition d’en présenter la&nbsp; demande pendant la durée de validité de l’autorisation d’exploration.</p>
              <ul>
                <li><strong>Permis de recherche&nbsp;:</strong></li>
              </ul>
              <p>Le permis de recherche confère à son titulaire le droit exclusif d’explorer et de reconnaître toutes les substances considérées comme mines.</p>
              <p>Il porte sur un périmètre de forme carrée de 4 km sur 4 km.</p>
              <p>Il est accordé pour une période de trois ans renouvelable une seule fois pour une période de quatre ans.</p>
              <ul>
                <li><strong>Licence d’exploitation&nbsp;:</strong></li>
              </ul>
              <p>La licence d’exploitation ne peut être attribuée qu’au titulaire ayant démontré l’existence d’un ou de plusieurs gisements dans le périmètre couvert par son ou ses permis de recherche.&nbsp;Elle découle d’un ou de plusieurs permis de recherche contigus et détenus par le même titulaire ;</p>
              <p>La superficie de la licence est fixée, à la demande du titulaire du ou des permis de recherche, en fonction de l’étendue du gisement découvert.</p>
              <p>Elle confère à son titulaire le droit exclusif d’extraction et/ou de mise en valeur de produits de mines à partir d’un gisement en vue de l’obtention de produits de mines marchands.</p>
              <p>La licence d’exploitation de mines est accordée pour une durée de dix&nbsp; ans. Elle est renouvelable par périodes successives de dix ans jusqu’à épuisement des réserves.</p>
              <p><strong>CONTROLE ADMINISTRATIF </strong></p>
              <p>La loi relative aux mines a introduit de nouvelles dispositions <strong>concernant l’étude d’impact sur l’environnement et le plan d’abandon</strong> dans le but de renforcer la protection de l’environnement et le développement durable&nbsp;;</p>
              <p>Les exploitants sont soumis à la surveillance de l’Administration pour&nbsp; ce qui concerne la sécurité publique, la sécurité et l’hygiène des travailleurs, la formation professionnelle, la conservation de la mine, la protection des sources, voies publiques et édifices de surface.</p>
              <p><strong>Relations avec les propriétaires du sol</strong></p>
              <p>La loi relative aux mines établit une nette distinction entre la propriété du sol et celle du sous-sol. Cependant, les exploitants miniers jouissent du droit d’occuper temporairement les terrains nécessaires à la réalisation de leurs travaux. L’indemnité due au titre de cette occupation peut être le résultat d’une entente amiable ou fixée par une commission provinciale.</p>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">

          <h3><img src="../../assets/img/logo.png">FDIM</h3>
          <p>La Fédération de l’Industrie Minérale a été créée initialement sous l’appellation de “Groupement des
            Industries Minières du Maroc” en 1940. Elle a connu une autre appellation en 1943 “La Chambre Syndicale des
            Industries Minières du Maroc” puis “Association des Industries Minières du Maroc” en 1957 avant de prendre
            sa forme actuelle, depuis 1998, en tant que Fédération de l’Industrie Minérale (FDIM).</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/acceuil">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page1">PRÉSENTATION DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page2">PRINCIPALES MISSIONS DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page3">BUREAU DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page4">CONSEIL D’ADMINISTRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page5">SECTEUR MENIER</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page6">CADRE LEGISLATIF ET REGLEMENTIRE
            </a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            FÉDÉRATION DE L’INDUSTRIE MINÉRALE<br>
            1 SAHAT AL ISTIQLAL CASABLANCA<br>
            Maroc<br>
            <strong>Phone:</strong> +212 (0) 22 30.68.98<br>
            <strong>Email:</strong> fdim@menara.ma<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Tous droits réservés <strong>FDIM</strong> - Réalisation BENNIS
    </div>
  </div>
</footer><!-- End Footer -->


