<header id="header" class="fixed-top">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <a routerLink="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a routerLink="">Acceuil</a></li>
            <li class="drop-down"><a routerLink="#about">QUI SOMMES-NOUS</a>
              <ul>
                <li><a routerLink="/page1">Présentation De La Fédération</a></li>
                <li><a routerLink="/page2">Principales Missions De La Fédération</a></li>
                <li><a routerLink="/page3">Bureau De La Fédération</a></li>
                <li><a routerLink="/page4">Conseil D’Administration</a></li>
              </ul>
            </li>
            <li class="drop-down"><a routerLink="">Services</a>
              <ul>
                <li><a routerLink="/page5">Secteur Menier</a></li>
                <li><a routerLink="/page6">Cadre Legislatif Et Reglementire</a></li>
                <li><a routerLink="/page7">Géologie Du Maroc</a></li>
              </ul>
            </li>

            <li><a routerLink="#team">Nos membres</a></li>
            <li><a routerLink="/contact">Contactez-nous</a></li>
            <li><a routerLink="/login">Se connecter</a></li>

          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </div>

  </div>
</header><!-- End Header -->

<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/acceuil">Home</a></li>
      <li>
        GÉOLOGIE DU MAROC</li>
    </ol>
  </div>

  <div class="container-fluid" style="margin-top: -100px">
    <div class="section-bg">
      <div class="page-content">
        <div class="form-v6-content">
          <div class="form-left">
            <img src="../../assets/img/b2.png" style="margin-top: 230px" alt="form">
          </div>
          <form class="form-detail" >
            <h2 style="color: darkorange;right: 50px;text-decoration: underline" class="entry-title" ><strong>
              GÉOLOGIE DU MAROC</strong> </h2>

            <div class="wpb_wrapper" style="color: gray">
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <p><strong>Géologie du Maroc – Domaines structuraux</strong></p>
                  <p>(Source&nbsp;: repris intégralement du site WEB de l’ONHYM)</p>
                  <p>Le Maroc se situe au coin nord-ouest de la plateforme saharienne, il est entouré par les plaques mobiles de la mer méditerranée au Nord et l’océan atlantique à l’Ouest.</p>
                  <p>En effet, au cours de sa longue histoire géologique conditionnée par cette position de charnière, entre les continents africains, européen et américain…plusieurs cycles orogéniques se sont succédés, contribuant chacun, par son contexte géodynamique et son ampleur, à façonner les grands domaines structuraux du Maroc.</p>
                  <p>C’est ainsi que l’on en distingue trois, définis en fonction de la localisation et de l’importance des effets des orogenèses les plus récentes. Du Sud au Nord, le domaine anti-atlasique et son prolongement saharien, le domaine atlasique et mésetien et le domaine rifain séparés les uns des autres, par l’accident sud-atlasique d’une part et la limite des charriages tertiaires venus du Nord, d’autre part. Les deux derniers domaines sont caractérisés par l’empreinte prédominante laissée par les orogenèses varisque et alpine tandis que le premier domaine a été essentiellement façonné par les orogenèses précambriennes et varisque.</p>
                  <p><strong><u>Domaine anti atlasique et saharien</u></strong></p>
                  <p>Intimement lié au bouclier ouest africain au Sud et limité par l’accident sud-atlasique au Nord, ce domaine est formé par un socle protérozoïque constitué par les ensembles suivants :</p>
                  <ul>
                    <li>La partie nord de la dorsale archéenne des Reguibat, datée à 2800 Millions d’années, la plus ancienne du pays et qui est affectée par l’orogenèse éburnéenne à 2200 Millions d’années. Au Nord de ce socle éburnéen, se trouve la partie mobile de la chaîne panafricaine d’âge protérozoïque supérieur, constituée au sud par une plateforme elle même relayée au nord par un bassin océanique matérialisé par la paléosuture ophiolitique de Bou-Azzer.</li>
                    <li>Au Nord-Est de cette suture et dans un contexte de subduction panafricaine, s’est développé un arc volcanique avec un cortège de vulcanites et d’intrusions plutoniques calco-alcalines caractéristiques. Ces ensembles ont été structurés par l’orogenèse panafricaine. Ces formations protérozoïques sont recouvertes en discordance par des séries transgressives allant de l’Infracambrien au Carbonifère et qui sont déformées, comme celles qu’elles recouvrent, par l’orogenèse hercynienne. Celle-ci est notamment mieux exprimée dans la partie occidentale de l’Anti-Atlas.</li>
                  </ul>
                  <p><strong><u>Domaine atlasique et mésétien</u></strong></p>
                  <p>Situé entre l’accident sud atlasique et la limite sud du Prérif, ce domaine est constitué par :</p>
                  <ul>
                    <li>Un socle paléozoïque (les mésetas) d’âge allant du Cambrien jusqu’au Carbonifère et constitué essentiellement par des terrains sédimentaires avec une intense activité volcanique bimodale au Viséen. Ce socle a été structuré par l’orogenèse hercynienne responsable aussi de la mise en place de nombreuses intrusions de granitoïdes.</li>
                    <li>Une couverture, formée de terrains essentiellement carbonatés, mésozoïques et cénozoïques comportant deux unités structurales :</li>
                    <li>Une zone à couverture plissée comprenant le Haut et le Moyen Atlas, ayant subi une tectonique alpine précoce.</li>
                    <li>Une zone à couverture tabulaire comprenant le causse moyen atlasique, les hauts plateaux et le pays des horts dans le Maroc oriental.</li>
                  </ul>
                  <p><strong><u>Domaine rifain</u></strong></p>
                  <p>Il est constitué par les zones internes, la zone des flyshs et les zones externes.</p>
                  <p>Les zones internes sont représentées dans deux régions sur la côte méditerranéenne : entre Sebta et Jabha et dans les Bokkoya. Par leur origine, ces zones internes sont liées à la plaque d’Alboran, individualisée au Mésozoïque entre l’Afrique et l’Europe et se composent de plusieurs unités cristallines et sédimentaires.</p>
                  <p>Le domaine des nappes des flyshs est constitué d’unités formées de séries sédimentaires détritiques déposées dans un bassin profond, à la marge de la plaque d’Alboran.</p>
                  <p>Les zones externes correspondent à l’ancien sillon externe, établi sur la marge nord-africaine, comblé par d’épaisses séries mésozoïques et cénozoïques. Parmi les unités qui constituent ces zones, certaines sont enracinées et d’autres sont sous forme de nappes.</p>

                </div>
              </div>


            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">

          <h3><img src="../../assets/img/logo.png">FDIM</h3>
          <p>La Fédération de l’Industrie Minérale a été créée initialement sous l’appellation de “Groupement des
            Industries Minières du Maroc” en 1940. Elle a connu une autre appellation en 1943 “La Chambre Syndicale des
            Industries Minières du Maroc” puis “Association des Industries Minières du Maroc” en 1957 avant de prendre
            sa forme actuelle, depuis 1998, en tant que Fédération de l’Industrie Minérale (FDIM).</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/acceuil">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page1">PRÉSENTATION DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page2">PRINCIPALES MISSIONS DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page3">BUREAU DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page4">CONSEIL D’ADMINISTRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page5">SECTEUR MENIER</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page6">CADRE LEGISLATIF ET REGLEMENTIRE
            </a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            FÉDÉRATION DE L’INDUSTRIE MINÉRALE<br>
            1 SAHAT AL ISTIQLAL CASABLANCA<br>
            Maroc<br>
            <strong>Phone:</strong> +212 (0) 22 30.68.98<br>
            <strong>Email:</strong> fdim@menara.ma<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Tous droits réservés <strong>FDIM</strong> - Réalisation BENNIS
    </div>
  </div>
</footer><!-- End Footer -->

