<header id="header" class="fixed-top">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <a routerLink="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a routerLink="">Acceuil</a></li>
            <li class="drop-down"><a routerLink="#about">QUI SOMMES-NOUS</a>
              <ul>
                <li><a routerLink="/page1">Présentation De La Fédération</a></li>
                <li><a routerLink="/page2">Principales Missions De La Fédération</a></li>
                <li><a routerLink="/page3">Bureau De La Fédération</a></li>
                <li><a routerLink="/page4">Conseil D’Administration</a></li>
              </ul>
            </li>
            <li class="drop-down"><a routerLink="">Services</a>
              <ul>
                <li><a routerLink="/page5">Secteur Menier</a></li>
                <li><a routerLink="/page6">Cadre Legislatif Et Reglementire</a></li>
                <li><a routerLink="/page7">Géologie Du Maroc</a></li>
              </ul>
            </li>

            <li><a routerLink="#team">Nos membres</a></li>
            <li><a routerLink="/contact">Contactez-nous</a></li>
            <li><a routerLink="/login">Se connecter</a></li>

          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </div>

  </div>
</header><!-- End Header -->

<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/acceuil">Home</a></li>
      <li>CONSEIL D’ADMINISTRATION</li>
    </ol>
  </div>

  <div class="container-fluid" style="margin-top: -100px">
  <div class="section-bg">
    <div class="page-content">
      <div class="form-v6-content">
        <div class="form-left">
          <img src="../../assets/img/b2.png" style="margin-top: 230px" alt="form">
        </div>
        <form class="form-detail" >
          <h2 style="color: darkorange;right: 50px;text-decoration: underline" class="entry-title" ><strong>CONSEIL D’ADMINISTRATION</strong> </h2>
          <p class="container-fluid font-weight-normal" style="color: gray">Le conseil d’Administration de la Fédération est composé des représentants  de divers secteurs de l’industrie minière. Ils fixent les grandes orientations de la fédération</p>
        <br/>

          <table class="table table-bordered" style="margin: 0px auto;color: gray; width: 614px;" width="614">
            <tbody>
            <tr>
              <td width="239">M. Lhou LMARBOUH</td>
              <td width="376">Directeur Général SMIREX et Global Mines</td>
            </tr>
            <tr>
              <td width="239">Maoulainine MAOULAININE</td>
              <td width="376">Directeur&nbsp; –&nbsp; PHOSBOUCRAA</td>
            </tr>
            <tr>
              <td width="239">Said NAJAM</td>
              <td width="376">Directeur&nbsp; –&nbsp; OCP</td>
            </tr>
            <tr>
              <td width="239">Mme Amina BENKHADRA</td>
              <td width="376">Directeur Général&nbsp; – ONHYM</td>
            </tr>
            <tr>
              <td width="239">Abdellah MOUTTAQI</td>
              <td width="376">Directeur du Pôle Exploration et Technique -ONHYM</td>
            </tr>
            <tr>
              <td width="239">Imad TOUMI</td>
              <td width="376">Président Directeur Général&nbsp; – MANAGEM</td>
            </tr>
            <tr>
              <td width="239">Amin ABRAK</td>
              <td width="376">Directeur Général de la Branche Métaux de Base&nbsp; – MANAGEM</td>
            </tr>
            <tr>
              <td width="239">M. Mohammed CHARRAT</td>
              <td width="376">Directeur des Ressources Humaines et la Communication&nbsp; – MANAGEM</td>
            </tr>
            <tr>
              <td width="239">Mohamed LAZAAR</td>
              <td width="376">Administrateur Directeur Général&nbsp; – CMT</td>
            </tr>
            <tr>
              <td width="239">Lahcen OUCHTOUBANE</td>
              <td width="376">Directeur de la Mine – CMT</td>
            </tr>
            <tr>
              <td width="239">Ahmed BENJILANY</td>
              <td width="376">Directeur Général – SACEM</td>
            </tr>
            <tr>
              <td width="239">Abderrazak GMIRA</td>
              <td width="376">Directeur Général – SSM</td>
            </tr>
            <tr>
              <td width="239">Mohamed AIT MALK</td>
              <td width="376">Directeur de la société AMENSIF MANAJIM</td>
            </tr>
            <tr>
              <td width="239">Noureddine MOKADDEM<br>
                M. Mustapha MOUCHARIK</td>
              <td width="376">Président Compagnie Minière Maya Maroc</td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">

          <h3><img src="../../assets/img/logo.png">FDIM</h3>
          <p>La Fédération de l’Industrie Minérale a été créée initialement sous l’appellation de “Groupement des
            Industries Minières du Maroc” en 1940. Elle a connu une autre appellation en 1943 “La Chambre Syndicale des
            Industries Minières du Maroc” puis “Association des Industries Minières du Maroc” en 1957 avant de prendre
            sa forme actuelle, depuis 1998, en tant que Fédération de l’Industrie Minérale (FDIM).</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/acceuil">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page1">PRÉSENTATION DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page2">PRINCIPALES MISSIONS DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page3">BUREAU DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page4">CONSEIL D’ADMINISTRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page5">SECTEUR MENIER</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page6">CADRE LEGISLATIF ET REGLEMENTIRE
            </a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            FÉDÉRATION DE L’INDUSTRIE MINÉRALE<br>
            1 SAHAT AL ISTIQLAL CASABLANCA<br>
            Maroc<br>
            <strong>Phone:</strong> +212 (0) 22 30.68.98<br>
            <strong>Email:</strong> fdim@menara.ma<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Tous droits réservés <strong>FDIM</strong> - Réalisation BENNIS
    </div>
  </div>
</footer><!-- End Footer -->

