<header id="header" class="fixed-top">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <a routerLink="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a routerLink="">Acceuil</a></li>
            <li class="drop-down"><a routerLink="#about">QUI SOMMES-NOUS</a>
              <ul>
                <li><a routerLink="/page1">Présentation De La Fédération</a></li>
                <li><a routerLink="/page2">Principales Missions De La Fédération</a></li>
                <li><a routerLink="/page3">Bureau De La Fédération</a></li>
                <li><a routerLink="/page4">Conseil D’Administration</a></li>
              </ul>
            </li>
            <li class="drop-down"><a routerLink="">Services</a>
              <ul>
                <li><a routerLink="/page5">Secteur Menier</a></li>
                <li><a routerLink="/page6">Cadre Legislatif Et Reglementire</a></li>
                <li><a routerLink="/page7">Géologie Du Maroc</a></li>
              </ul>
            </li>

            <li><a routerLink="#team">Nos membres</a></li>
            <li><a routerLink="/contact">Contactez-nous</a></li>
            <li><a routerLink="/login">Se connecter</a></li>

          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </div>

  </div>
</header><!-- End Header -->

<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/acceuil">Home</a></li>
      <li>Principales Missions De La Fédération</li>
    </ol>
  </div>

  <div class="container-fluid" style="margin-top: -100px">
  <div class="section-bg">
    <div class="page-content">
      <div class="form-v6-content">
        <div class="form-left">
          <img src="../../assets/img/b2.png" style="margin-top: 230px" alt="form">
        </div>
        <form class="form-detail" >
          <h2 style="color: darkorange;right: 50px;text-decoration: underline" class="entry-title" ><strong>Principales Missions De La Fédération</strong> </h2>

            <ul class="container-fluid font-weight-normal" style="color: gray">
          1- Rassembler tous les membres de la profession et coordonner leurs efforts pour la réalisation de toutes actions d’intérêt général du secteur minier. <br>
          2- Défendre les intérêts généraux de la profession et œuvrer à la recherche et l’adoption de toutes mesures et solutions à même de faciliter et d’améliorer l’exercice de la profession. <br>
          3- Représenter collectivement les adhérents auprès des pouvoirs publics ainsi que d’autres groupements professionnels. <br>
          4- Promouvoir au sein de la profession minière la responsabilité sociale des entreprises et leur engagement dans le développement durable. <br>
          5- Etablir des relations de coopération et de partenariats avec différents partenaires. <br>
          6- Entreprendre toute démarche ou action et initier tout projet visant la promotion et le développement au Maroc et à l’international du secteur minier marocain. <br>
          7- Organiser des séminaires, colloques et tables rondes sur des thèmes d’intérêt commun pour l’ensemble de la profession minière. <br>
          8- Participer aux actions de promotion du secteur minier auprès des investisseurs potentiels nationaux et internationaux.
            </ul>

        </form>
      </div>
    </div>
  </div>
</div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">

          <h3><img src="../../assets/img/logo.png">FDIM</h3>
          <p>La Fédération de l’Industrie Minérale a été créée initialement sous l’appellation de “Groupement des
            Industries Minières du Maroc” en 1940. Elle a connu une autre appellation en 1943 “La Chambre Syndicale des
            Industries Minières du Maroc” puis “Association des Industries Minières du Maroc” en 1957 avant de prendre
            sa forme actuelle, depuis 1998, en tant que Fédération de l’Industrie Minérale (FDIM).</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/acceuil">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page1">PRÉSENTATION DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page2">PRINCIPALES MISSIONS DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page3">BUREAU DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page4">CONSEIL D’ADMINISTRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page5">SECTEUR MENIER</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page6">CADRE LEGISLATIF ET REGLEMENTIRE
            </a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            FÉDÉRATION DE L’INDUSTRIE MINÉRALE<br>
            1 SAHAT AL ISTIQLAL CASABLANCA<br>
            Maroc<br>
            <strong>Phone:</strong> +212 (0) 22 30.68.98<br>
            <strong>Email:</strong> fdim@menara.ma<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Tous droits réservés <strong>FDIM</strong> - Réalisation BENNIS
    </div>
  </div>
</footer><!-- End Footer -->

