<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <a routerLink="index.html" class="logo mr-auto"><img src="../../assets/img/logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a routerLink="">Acceuil</a></li>
            <li class="drop-down"><a routerLink="#about">QUI SOMMES-NOUS</a>
              <ul>
                <li><a routerLink="/page1">Présentation De La Fédération</a></li>
                <li><a routerLink="/page2">Principales Missions De La Fédération</a></li>
                <li><a routerLink="/page3">Bureau De La Fédération</a></li>
                <li><a routerLink="/page4">Conseil D’Administration</a></li>
              </ul>
            </li>
            <li class="drop-down"><a routerLink="">Services</a>
              <ul>
                <li><a routerLink="/page5">Secteur Menier</a></li>
                <li><a routerLink="/page6">Cadre Legislatif Et Reglementire</a></li>
                <li><a routerLink="/page7">Géologie Du Maroc</a></li>
              </ul>
            </li>

            <li><a routerLink="#team">Nos membres</a></li>
            <li><a routerLink="/contact">Contactez-nous</a></li>
            <li><a routerLink="/login">Se connecter</a></li>

          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </div>

  </div>
</header><!-- End Header -->
<!-- ======= Intro Section ======= -->
<section id="intro">
  <div class="intro-container">
    <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url(../../assets/img/b1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">STAND DE LA COP 22 MARRAKECH 2016</h2>
              <p class="animate__animated animate__fadeInUp">la fdim a organise au stand de la cop 22 a marrakech le 14
                novembre 2016 une conference debat mines & climat au maroc la fdim a organisé le novembre 2016, au stand
                de la cgem à la cop 22, à mar...</p>
              <a routerLink="#main" class="btn-get-started scrollto animate__animated animate__fadeInUp">Apprendre plus sur la
                FDIM</a>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url(../../assets/img/fd.png)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">LA FDIM LANCE LA RÉALISATION D’UNE ÉTUDE</h2>
              <p class="animate__animated animate__fadeInUp">conformément aux orientations de son conseil
                d’administration, la fdim a procédé au lancement de la réalisation d’une étude sur la prise en compte du
                changement climatique par le secteur min...</p>
              <a routerLink="#main" class="btn-get-started scrollto animate__animated animate__fadeInUp">Apprendre plus sur la
                FDIM</a>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url(../../assets/img/b.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">LA FDIM TIENT SON ASSEMBLÉE GÉNÉRALE ELECTIVE</h2>
              <p class="animate__animated animate__fadeInUp">la fédération de l’industrie minérale (fdim) a tenu, le 30
                mai 2016, au centre minier de la société de sel de mohammedia, son assemblée générale ordinaire et
                elective, au cours de laquelle, ...</p>
              <a routerLink="#main" class="btn-get-started scrollto animate__animated animate__fadeInUp">Apprendre plus sur la
                FDIM</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" routerLink="#introCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" routerLink="#introCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section><!-- End Intro Section -->

<main id="main">


  <!-- ======= About Us Section ======= -->
  <section id="abouut">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <br/>
        <br/>
        <h3>QUI SOMMES-NOUS</h3>
        <p>La Fédération de l’Industrie Minérale a été créée initialement sous l’appellation de “Groupement des
          Industries Minières du Maroc” en 1940. Elle a connu une autre appellation en 1943 “La Chambre Syndicale des
          Industries Minières du Maroc” puis “Association des Industries Minières du Maroc” en 1957 avant de prendre sa
          forme actuelle, depuis 1998, en tant que Fédération de l’Industrie Minérale (FDIM).</p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="img">
              <img src="../../assets/img/about-mission.jpg" alt="" class="img-fluid">
            </div>

            <div class="icon"><i class="ion-ios-speedometer-outline"><a routerLink="" style="font-size: 35px"> Nos Missions</a></i></div>

            <p>
              Rassembler tous les membres de la profession et coordonner leurs efforts pour la réalisation de toutes
              actions d’intérêt général du secteur minier et participer aux actions de promotion du secteur minier
              auprès des investisseurs potentiels nationaux et internationaux.
            </p>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="../../assets/img/about-plan.jpg" alt="" class="img-fluid">
            </div>
            <div>
            <div class="icon"><i class="ion-ios-list-outline"><a routerLink="" style="font-size: 35px"> Nos Plans</a></i></div>

            </div>
            <p>
              La Fédération représente collectivement les adhérents auprès des pouvoirs publics ainsi que d’autres
              groupements professionnels, défend les intérêts généraux de la profession et œuvre à la recherche et
              l’adoption de toutes mesures et solutions à même de faciliter et d’améliorer l’exercice de la profession.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="../../assets/img/about-vision.jpg" alt="" class="img-fluid">
            </div>
              <div class="icon"><i class="ion-ios-eye-outline"><a routerLink="" style="font-size: 35px"> Nos Visions</a></i></div>
            <p>
              Défendre les intérêts généraux de la profession et œuvrer à la recherche et l’adoption de toutes mesures
              et solutions à même de faciliter et d’améliorer l’exercice de la profession et Entreprendre toute démarche
              ou action et initier tout projet visant la promotion et le développement au Maroc et à l’international du
              secteur minier marocain
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
        <p>Le Maroc est un pays de très longue tradition minière, comme en témoigne les vestiges, disséminés à travers
          tout le Maroc, datant pour certains de l’époque phénicienne, et qui indiquent que, l’industrie minière
          (exploitation et raffinage des métaux) a occupé, pendant des siècles, une place relativement importante dans
          l’activité économique du pays.</p>
      </header>

      <div class="row">

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title"><a routerLink="">Rassembler</a></h4>
          <p class="description">Rassembler tous les membres de la profession et coordonner leurs efforts pour la
            réalisation de toutes actions d’intérêt général du secteur minier.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
          <h4 class="title"><a routerLink="">Défendre</a></h4>
          <p class="description">Défendre les intérêts généraux de la profession et œuvrer à la recherche et l’adoption
            de toutes mesures et solutions à même de faciliter et d’améliorer l’exercice de la profession.</p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title"><a routerLink="">Représenter </a></h4>
          <p class="description">Représenter collectivement les adhérents auprès des pouvoirs publics ainsi que d’autres
            groupements professionnels.</p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
          <h4 class="title"><a routerLink="">Promouvoir </a></h4>
          <p class="description">Promouvoir au sein de la profession minière la responsabilité sociale des entreprises
            et leur engagement dans le développement durable ;
          </p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
          <h4 class="title"><a routerLink="">Entreprendre </a></h4>
          <p class="description">Entreprendre toute démarche ou action et initier tout projet visant la promotion et le
            développement au Maroc et à l’international du secteur minier marocain ;
          </p>
        </div>
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="ion-ios-people-outline"></i></div>
          <h4 class="title"><a routerLink="">Organiser</a></h4>
          <p class="description">Organiser des séminaires, colloques et tables rondes sur des thèmes d’intérêt commun
            pour l’ensemble de la profession minière ;
          </p>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>PRÉSENTATION DE LA FÉDÉRATION</h3>
      </header>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">35021</span>
          <p>NOMBRE D’EMPLOIS</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">85</span>
          <p>NOMBRE D’ENTREPRISES
          </p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">450</span>
          <p>NOMBRE D’OPÉRATEURS INDIVIDUELS
          </p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">30</span>
          <p>NOMBRE DE MEMBRES</p>
        </div>

      </div>

      <div class="facts-img">
        <img src="../../assets/img/b2.png" alt="" class="img-fluid">
      </div>

    </div>
  </section><!-- End Facts Section -->
  <br/>
  <br/>

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3>Partenaire/Membres</h3>
      <p></p>
      <a class="cta-btn" href="#">Call To Action</a>
    </div>
  </section><!-- End Call To Action Section -->


  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>Partenaire</h3>
        <p>Les partenaires qui composent la FDIM sont : </p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <img src="../../assets/img/ocp.png" id="img1" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>OCP</h4>
                <span>PARTENAIRE</span>
                <div class="social">
                  <a href="https://www.ocpgroup.ma/"><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <img src="../../assets/img/managem.png" id="img2" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>MANAGEM</h4>
                <span>PARTENAIRE</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <img src="../../assets/img/sacagem.jpg" id="img3" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>SACAGEM</h4>
                <span>PARTENAIRE</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <img src="../../assets/img/onhym.jpg" id="img4" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>ONHYM</h4>
                <span>PARTENAIRE</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <br/>

      <nav aria-label="Page navigation example" style="margin-left: 430px">
        <ul class="pagination">
          <li class="page-item disabled" id="3"><a class="page-link" routerLink="page1">Previous</a></li>
          <li class="page-item active" id="1"><a class="page-link" (click)="page1()">1</a></li>
          <li class="page-item" id="2"><a class="page-link" (click)="page2()">2</a></li>
          <li class="page-item" id="4"><a class="page-link" (click)="page2()" >Next</a></li>
        </ul>
      </nav>

    </div>
  </section><!-- End Team Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">

          <h3><img src="../../assets/img/logo.png">FDIM</h3>
          <p>La Fédération de l’Industrie Minérale a été créée initialement sous l’appellation de “Groupement des
            Industries Minières du Maroc” en 1940. Elle a connu une autre appellation en 1943 “La Chambre Syndicale des
            Industries Minières du Maroc” puis “Association des Industries Minières du Maroc” en 1957 avant de prendre
            sa forme actuelle, depuis 1998, en tant que Fédération de l’Industrie Minérale (FDIM).</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/acceuil">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page1">PRÉSENTATION DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page2">PRINCIPALES MISSIONS DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page3">BUREAU DE LA FÉDÉRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page4">CONSEIL D’ADMINISTRATION</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page5">SECTEUR MENIER</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/page6">CADRE LEGISLATIF ET REGLEMENTIRE
            </a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            FÉDÉRATION DE L’INDUSTRIE MINÉRALE<br>
            1 SAHAT AL ISTIQLAL CASABLANCA<br>
            Maroc<br>
            <strong>Phone:</strong> +212 (0) 22 30.68.98<br>
            <strong>Email:</strong> fdim@menara.ma<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Tous droits réservés <strong>FDIM</strong> - Réalisation BENNIS
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

</body>
